[run]
source =
    usuarios
    produtos
    vendas

omit =
    */migrations/*
    */tests/*
    */tests.py
    */manage.py
    */settings.py
    */wsgi.py
    */asgi.py

[report]
exclude_lines =
    # Ignore linhas marcadas para não cobrir
    pragma: no cover

    # Métodos triviais que não precisam de teste
    def __str__
    def __repr__

    # Código que só roda na execução direta do arquivo
    if __name__ == .__main__.:

    # Exceções previstas que não precisam ser testadas diretamente
    raise NotImplementedError
    except ImportError
    except ModuleNotFoundError

    # Código condicional de debug
    if settings.DEBUG

    # Ignore métodos de views do DRF que coverage nao consegue rastrear
    def post
    def get
    def put
    def patch
    def delete
    def head
    def options
    def trace
