amqp==5.3.1
asgiref==3.8.1
bcrypt==4.2.0
billiard==4.2.1
blinker==1.8.2
boto3==1.35.17
botocore==1.35.17
celery==5.4.0
certifi==2024.7.4
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==5.1.6
dnspython==2.6.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
kombu==5.4.2
MarkupSafe==2.1.5
prompt_toolkit==3.0.50
PyJWT==2.8.0
pymongo==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
s3transfer==0.10.2
six==1.16.0
SQLAlchemy==2.0.39
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
psycopg2-binary==2.9.9
black==24.3.0
flake8==6.1.0
isort==5.13.2
pre-commit==3.6.0
bandit==1.7.8
djangorestframework==3.16.0
coverage==7.5.1
